@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&family=Jost:ital,wght@1,800&display=swap'); */

body{
    background-color: black;
    margin: 0; 
}


header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;

}

#search-input {
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: black;
    font-family: initial;
    outline: 0;
    background-color: rgb(152, 177, 210);
} 

#movies-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    height: 600px;
    padding: 20px;
 }
 
 img {
    height: 410px;
    width: 270px;
 }
 
 .movie-card {
    padding-bottom: 10px;
    max-width: 270px;
 }



