/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding: 2rem;

}

:root {
    --main-color: #ffb43a;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeef; 
}

.logo span {
    color: var(--main-color);
}

#header {
    text-align: center;
    position: 0;
    top: 0;
    left: 0;

}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} 


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.movies{
   margin: 10px;
   display: inline-grid;
}

.movieDetails {
   display: flex;
   flex-direction: column;
   width: 100px;
}

#movie-votes {
   width: 10px;
}

.movie-title {
    font-size: 3px;
}

#load-more-movies-btn {
   margin: 0%;
   text-align: center;
   align-items: center;
}

#form {
    font-size: 0.938rem;
    border: none;
}

.search-input{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    display: inline-block;
    font-size: 14px;



}

.close-search-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    display: inline-block;
    font-size: 13px;

}

.movie-vote-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 25px;
  }

form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 25px;
  }

  #top-page,
  #top-page:active,
  #top-page:visited,
  #top-page:focus,
  #top-page:hover {
    text-decoration: none !important;
  }